.quizeContainer {
  display: flex;
  width: 100%;
  .innerWrapper {
    width: 70%;
    .questionsWrapper {
      padding: 1rem;
      width: 45vw;
      display: grid;
      gap: 3rem;
      margin: 10vh auto auto auto;
      align-items: center;
      justify-content: center;
      p {
        font-size: 2em;
        font-weight: 500;
        margin: auto;
      }
      .optionsWrapper {
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        span {
          color: #000;
          text-align: center;
          width: 300px;
          padding: 10px;
          border: 1px solid #dcdcdc;
          cursor: pointer;
          border-radius: 10px;
          transition: transform 0.3s ease;
        }
        span:hover {
          background-color: #cdf6ffcc;
        }
      }
    }
    .btnWrapper {
      position: fixed;
      width: 70vw;
      display: flex;
      justify-content: space-evenly;
      margin-top: 20vh;
      button {
        background: #000;
        color: #fff;
        border: none;
        font-weight: 500;
        padding: 10px 20px;
        width: 150px;
        border-radius: 10px;
      }
    }
  }
}
.finalReportContainer {
  text-align: center;
  h2 {
    font-size: 3em;
    font-weight: 700;
    margin: auto;
  }
  .reportStatsWrapper {
    display: flex;
    margin: 10% auto auto auto;
    border: 1px solid #dcdcdc;
    width: fit-content;
    div {
      text-align: left;
      p {
        padding: 10px 40px;
        border: 1px solid #dcdcdc;
        font-size: 1.3em;
        font-weight: 600;
      }
    }
  }
  .reportStatsContainer {
    div {
      width: fit-content;
      margin: 4rem auto;
      display: grid;
      gap: 2rem;
      p {
        color: red;
      }
    }
  }
}
